<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/A%26Y_Python_Basics_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#*Variables*:

How to name a variable?

1. Variables can only start with a alphabet or _
2. A variable cannot start with number.
3. A variable can only contain alphabets, numbers and underscores (A-Z, a-z, 0-9, _)
4. Variables names are case-sensitive ( NAME, Name and name are three different variables)

In [ ]:
_name = "Aadi"
name= "Youssef"
_1name = "shaniya" #can't use numbers
name101 = "101"
name_101_Name = "NAME"

In [ ]:
Place = "Dubai"
Date = "20-07-21"
print(Place, Date)

Dubai 20-07-21

#OPERATIONS

#AIRTHMETIC OPERATIONS: 
AIRTHMETIC OPERATORS

In [ ]:
#Addition "+"
print(12+15)

27

In [ ]:
x = 12.5  #We can add Float and integer, but we cannot add string to integer or float.
y = 15
print(x+y)

27.5

In [ ]:
a = "12"
b = "Word"
print(a+b) #"+" is doing concatenation

12Word

In [ ]:
#Subtraction "-"
print(x-y)

-2.5

In [ ]:
#Multiplication "*"
print(x*y)

187.5

In [ ]:
#DIVISION "/"
print(y/x)

1.2

In [ ]:
#Floor Division "//"
print(y//x)

1.0

In [ ]:
#Modulus "%"
print(y%x) #To get Value of Remainder

2.5