<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/A%26Y_PYTHON_BASICS_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSIGNMENT OPERATORS

In [1]:
#"=" is operator to assign some value
a = 10
print(a)

10

In [4]:
#"==" is for comparing two values, a=10 and b=20, print(a==b)
b = 20
print(a==b)

False

In [5]:
#"!=" is not equal to operator , comparing two values.
print(a!=b)

True

In [8]:
#"+=" , It's a operator for adding some values, x = x+4 or x+=4
x = 2
x += 4
print(x)

6

In [9]:
#"-=", is used for subtracting the values, x = x-4 or x -= 4
y = 10
y -= 4
print(y)

6

In [10]:
#"*=", is used for multiplying the values, x = x*4 or x *= 4
z = 3
z *= 4
print(z)

12

In [11]:
#"%=" x = x%2 or x %= 2
z %= 2
print(z)

0

In [12]:
#"/=" is used for division , x /= 2 or x = x/2
y /= 2
print(y)

3.0

In [13]:
#"//=", is used for floor division , x = x//2 or x //= 2
q = 10
q //= 3
print(q)

3

In [15]:
#"**"
t = 3
print(t**3)

27

In [16]:
#"**=", t = t**3 or t **= 3
t **= 4 
print(t)

81

#COMPARISON OPERATORS:

In [ ]:
#"==" 
#"!="

In [18]:
#"<" or ">"
a = 10
b = 20
print(a<b)
print(a>b)

True
False

In [19]:
#">=" , a = a>b or a >= b
print(a>=b)

False

In [20]:
#"<=", a = a<b or a <= b
print(a<=b)

True

#LOGICAL OPERATORS:

In [21]:
#"and" , if both the values are TRUE then it will return TRUE.
a = 10 
b = 20
print(a>b and b>10)

False

In [24]:
#"or" , will return TRUE if atleast one of the value from two condition is TRUE.
print(a>b or b>10 )

True

In [25]:
#"not" , used to reverse the boolean value
z = True
print( not z)

False

In [26]:
print(not (a>b and b>10))

True

#IDENTITY OPERATORS

In [27]:
#"is"
c = 15
d = 25
print(c is d)

False

In [28]:
#"is not"
print(c is not d )

True

#MEMBERSHIP OPERATORS

In [30]:
#"in", to check if value exists within something
j = "HELLO HOW ARE YOU"
print('z' in j)

False

In [31]:
#"not in", to check if value does not exists within something
print('z' not in j)

True