<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/AADI%26YOUSSEF_python_basics_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary
It's a datatype in python used to store some value. Every element in dictionary has key related to it.
Syntax : dict = {key:value, key:value}

In [2]:
#Creating a dictionary: Key has to be unique , but value can be same for more than one key.
Fruits = {1:"apple", 2:"mango", 3:"mango"}
print(Fruits)

{1: 'apple', 2: 'mango', 3: 'mango'}

In [3]:
mixed_dt = {12:"twelve", "thirty":20, 2.06:"one-two" } #we can have any dataype for key or value.
print(mixed_dt)

{12: 'twelve', 'thirty': 20, 2.06: 'one-two'}

In [4]:
#Create an empty dictionary
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [5]:
#dict()
Vegetables = dict({1:"potato", "tomato":2, 2.05:"carrot", 3:"raddish"})
print(Vegetables)

{1: 'potato', 'tomato': 2, 2.05: 'carrot', 3: 'raddish'}

In [6]:
Cars = dict([(2,"BMW"),(1,"Porshe"),(3,"Audi")])
print(Cars)

{2: 'BMW', 1: 'Porshe', 3: 'Audi'}

#Nested Dictionary
Dictionary inside a dictionary 
~ value of a key can be dictionary

In [7]:
operations = {1: "addition", 2: "Subtraction", 3:{101: "add", 102: "sub", 103:"Mul"}, 4: "Multiplication"}
print(operations)

{1: 'addition', 2: 'Subtraction', 3: {101: 'add', 102: 'sub', 103: 'Mul'}, 4: 'Multiplication'}

#Adding elements to a dictionary.

In [8]:
operations["new key"] = "Value"
print(operations)

operations["tuple"] = (1,2,3,4,5,6)
print(operations)

{1: 'addition', 2: 'Subtraction', 3: {101: 'add', 102: 'sub', 103: 'Mul'}, 4: 'Multiplication', 'new key': 'Value'}
{1: 'addition', 2: 'Subtraction', 3: {101: 'add', 102: 'sub', 103: 'Mul'}, 4: 'Multiplication', 'new key': 'Value', 'tuple': (1, 2, 3, 4, 5, 6)}

#Accessing the elements from a dictionary
~ with the help of keys

In [9]:
print(operations[2])
print(operations[3])
print(operations["tuple"])
print(operations[3][101]) #accessing element of nested dictionary

Subtraction
{101: 'add', 102: 'sub', 103: 'Mul'}
(1, 2, 3, 4, 5, 6)
add

In [10]:
#get() , for accessing element
print(operations.get(2))

Subtraction

#Removing Elements from a dictionary

In [14]:
# del keyword
print(operations)
del operations[1]
print(operations)

{1: 'addition', 3: {101: 'add', 102: 'sub', 103: 'Mul'}, 4: 'Multiplication', 'new key': 'Value', 'tuple': (1, 2, 3, 4, 5, 6)}
{3: {101: 'add', 102: 'sub', 103: 'Mul'}, 4: 'Multiplication', 'new key': 'Value', 'tuple': (1, 2, 3, 4, 5, 6)}

In [15]:
del operations[3][103]
print(operations)

{3: {101: 'add', 102: 'sub'}, 4: 'Multiplication', 'new key': 'Value', 'tuple': (1, 2, 3, 4, 5, 6)}

In [16]:
#pop()
operations.pop('new key')
print(operations)

{3: {101: 'add', 102: 'sub'}, 4: 'Multiplication', 'tuple': (1, 2, 3, 4, 5, 6)}

In [17]:
#popitem()
operations.popitem()
print(operations)

{3: {101: 'add', 102: 'sub'}, 4: 'Multiplication'}

In [18]:
#clear()
operations.clear()
print(operations)

{}

In [19]:
#Built-in Functions
# copy()

original_dict = {1:"a", 2:"b", 3:"c", 4:"d"}
print(original_dict)

copy_dict = original_dict.copy()
print(copy_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [21]:
#values() : all the values of dictionary 
print(original_dict.values())

#keys(): all the keys of dictionary
print(original_dict.keys())

dict_values(['a', 'b', 'c', 'd'])
dict_keys([1, 2, 3, 4])