<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/First_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comments in Python

In [ ]:
#Comments in python.
'''Statement 1 
statement 2 
statement 3
'''

Print Function

In [ ]:
print(1)

1

In [ ]:
print("Hey ADAM") #Everything between the "" is a string.

Hey ADAM

#DATATYPES

1. Numbers
2. String
3. Float
4. List
5. Tuple
6. Dictionary

In [8]:
print(1+1)
print(type(1))
print("i have 1 icecream")
print(type("1"))

2
<class 'int'>
i have 1 icecream
<class 'str'>

In [13]:
print(2.004)
print(type(1.025))
print(type(2.0))

2.004
<class 'float'>
<class 'float'>

In [9]:
!python --version

Python 3.7.10

In [10]:
x = "1"
print(type(x))

<class 'str'>

#Variables

In [20]:
#Variables are defined to store some value.
name = "Shaniya"
age = "27"
print(1+2)  #Add two numbers ( performs addition operation)
print("1"+"2")  #(Concatinaton of two strings i.e. one after another.)
print("My name is "+name+" and i am "+age+" years old")

3
12
My name is Shaniya and i am 27 years old

How to name a variable?
1. Variables can only start with a alphabet or _
2. A variable cannot start with number.
3. A variable can only contain alphabets, numbers and underscores (A-Z, a-z, 0-9, _)
4. Variables names are case-sensitive ( NAME, Name and name are three different variables)