<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/PYTHON_BASICS_04_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLE
Tuple is similar to list but it's syntax is different and some features are different from list.

In [2]:
a = () #empty tuple 
print(a)
print(type(a))

()
<class 'tuple'>

In [3]:
fruits = ("banana", "mango", "grapes")
print(fruits)

('banana', 'mango', 'grapes')

In [10]:
diff_dt = (1,"a",2.0)
print(diff_dt)
print(type(diff_dt[2]))

(1, 'a', 2.0)
<class 'float'>

#ACCESSING A TUPLE
We can do it by using index values

In [11]:
print(diff_dt[2])

2.0

#Concatenation Of Tuples

In [15]:
int_tuple = (1,2,3,4)
str_tuple = ("a","b","c")
print(int_tuple + str_tuple)
third_tuple = int_tuple + str_tuple
print(third_tuple)

(1, 2, 3, 4, 'a', 'b', 'c')
(1, 2, 3, 4, 'a', 'b', 'c')

#Slicing of Tuples

In [25]:
Country = tuple('AUSTRALIA')
print(Country)
print(Country[1:7]) #POSITIVE
print(Country[-6:-2]) #NEGATIVE 
print(Country[::-1]) #REVERSE

('A', 'U', 'S', 'T', 'R', 'A', 'L', 'I', 'A')
('U', 'S', 'T', 'R', 'A', 'L')
('T', 'R', 'A', 'L')
('A', 'I', 'L', 'A', 'R', 'T', 'S', 'U', 'A')

#DELETING A TUPLE

In [24]:
##del keyword 
#del Country
#print(Country)

In [30]:
#Built-in Functions
'''index()'''
print(Country)
#tuple.index(element, start, end)
print(Country.index("A",1,6))
#Count()
print(Country.count("A"))

('A', 'U', 'S', 'T', 'R', 'A', 'L', 'I', 'A')
5
3

Tuples cannot be appended, change, remove some of the elements from tuple.
WE can delete whole tuple.