<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Ryan_Python_basics_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
List is a datatype in python which contains more than one values.
Syntax : name_of_list = ["strings",1,2.04, True]

In [ ]:
#empty list
its_a_list = []
print(its_a_list)

#List containing integer values
int_list = [55,4,895,5,9,8]
print(int_list)

#List containing Strings values
String_list = ["apple", "mango", "banana", "pineapple", "grapes"]
print(String_list)

#mixed list: containing all the datatypes like, integer, string, float, boolean
mixed_list = [120, "one hundred twenty", 1.20, False]
print(mixed_list)

[]
[55, 4, 895, 5, 9, 8]
['apple', 'mango', 'banana', 'pineapple', 'grapes']
[120, 'one hundred twenty', 1.2, False]

***Nested List***: means list inside a list

In [ ]:
nested_list = [15,"fifteen",[1,2,3,4,"apple",5.25],56,"fifty six",True]
print(nested_list)

[15, 'fifteen', [1, 2, 3, 4, 'apple', 5.25], 56, 'fifty six', True]

#**Accessing Items from a list**
*   By using index values
*   list index values starts from 0 : Positive indexing
#Positive indexing

In [ ]:
print(mixed_list[1])

Vegetables = ["carrot","brinjal","onion","garlic","ginger","potato","tomato"]
print(Vegetables)
print(Vegetables[2])
print(Vegetables[6])

nested_list = [15,"fifteen",[1,2,3,4,"apple",5.25],56,"fifty six",True]
print(nested_list)
print(nested_list[2])
print(nested_list[2][4])

one hundred twenty
['carrot', 'brinjal', 'onion', 'garlic', 'ginger', 'potato', 'tomato']
onion
tomato
[15, 'fifteen', [1, 2, 3, 4, 'apple', 5.25], 56, 'fifty six', True]
[1, 2, 3, 4, 'apple', 5.25]
apple

**Negative Indexing**
It starts from right side and number is -1

In [ ]:
cars = ["BMW", "Audi", "Porshe", "Nano", "Figo"]
print(cars[-3])
print(cars[2])

Porshe
Porshe

#Slicing of a list 
~access more than one item at a time.

In [ ]:
# name_of_list[start_index : end_index+1 ]
print(cars)
print(cars[1:4]) #Slicing with the help of positive index.
print(cars[-4:-1]) #Slicing with the help of negative index.
print(cars[:])
print(cars[:3])
print(cars[3:])

['BMW', 'Audi', 'Porshe', 'Nano', 'Figo']
['Audi', 'Porshe', 'Nano']
['Audi', 'Porshe', 'Nano']
['BMW', 'Audi', 'Porshe', 'Nano', 'Figo']
['BMW', 'Audi', 'Porshe']
['Nano', 'Figo']

In [ ]:
# jumps in slicings
# name_of_list[start_index : end_index : 2(it'll skip one element) ]
print(cars)
print(cars[::2]) #it'll jump or skip one elements
print(cars[::3])
print(cars[:4:2])

['BMW', 'Audi', 'Porshe', 'Nano', 'Figo']
['BMW', 'Porshe', 'Figo']
['BMW', 'Nano']
['BMW', 'Porshe']

#Add or change item of a list

In [ ]:
#append() : will add items to the end of the list
cars.append('Mango')
print(cars)

['BMW', 'Audi', 'Porshe', 'Nano', 'Figo', 'Mango']

In [ ]:
#insert(index_value_of_new_item, "value")
cars.insert(2, "apple")

In [ ]:
print(cars)

['BMW', 'Audi', 'apple', 'Porshe', 'Nano', 'Figo', 'Mango']

In [ ]:
#Method to add more than one items at a time
cars[3:5] = ["banana", "orange", "grapes"]
print(cars)

['BMW', 'Audi', 'apple', 'banana', 'orange', 'grapes', 'Figo', 'Mango']

#Delete or remove items from a list

In [ ]:
#'del' : used to deletes items from a list.
del cars[2]
print(cars)

['BMW', 'Audi', 'banana', 'orange', 'grapes', 'Figo', 'Mango']

In [ ]:
#remove()
cars.remove("Mango")
print(cars)

['BMW', 'Audi', 'banana', 'orange', 'grapes', 'Figo']

In [ ]:
#pop() : remove last item from a list.
cars.pop()
print(cars)

['BMW', 'Audi', 'banana', 'orange', 'grapes']

In [ ]:
#clear() : is used to make empty.
cars.clear()
print(cars)
print(type(cars))

[]
<class 'list'>

In [ ]:
#Code for reversing a list
integers = [1,23,4,55,66,7,8,9,10,24]
print(integers)
print(integers[::-1]) #Reverse the list by slicing

[1, 23, 4, 55, 66, 7, 8, 9, 10, 24]
[24, 10, 9, 8, 7, 66, 55, 4, 23, 1]