<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Ryan_Python_Basics_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#How to name a variable?
1.	Variables can only start with a alphabet or _
2.	A variable cannot start with number.
3.	A variable can only contain alphabets, numbers and underscores (A-Z, a-z, 0-9)
4.	Variables names are case-sensitive.( name, NAME and Name are 3 different variables)

In [1]:
_name = "Smith"
name_01 = "John"
print(_name)
print(name_01)

Smith
John

In [2]:
Date = "21-07-2021"
print(Date)

21-07-2021

#Operators:
#AIRTHEMTIC OPERATORS

In [5]:
#ADDITION "+"
print(15+26)

x = 15
y = 26
print(x+y)

#addition of float values : 5.25 + 5
print(2.025+5)

41
41
7.025

In [9]:
#"+" is known as concatenation : means putting two strings together.
a = "MY Name is "
b = "Shaniya khan"
print(a + b)

p = "12"
q = "Apple"
print(p+q)

MY Name is Shaniya khan
12Apple

In [11]:
#SUBTRACTION 
print(24-9)

r = 24
s = 9
print(r-s)

15
15

In [13]:
#MULTIPLICATION "*"
print(3*9)

print(r*s)

27
216

In [15]:
#DIVISION "/"
print(24/4)

print(r/s)

6.0
2.6666666666666665

In [18]:
#FLOOR DIVISION "//"
print(r//s) #gives us the value of quotient or division answers as a whole number.
print(25//2)
print(25/2)

2
12
12.5

In [19]:
#Modulus "%"  gives the value of remainder
print(25%2)

1

#ASSIGMENT OPERATORS:

In [20]:
#"=" is used for assigning some values.
a  = 10
print(a)

10

In [22]:
#"==" comparison of two values
a = 20
b = 20 
print(a==b)

True

In [23]:
#"!=" is known as not equal to , comparing two values.
print(a!=b)

False

In [26]:
#"+=" , is used for adding some values. x = x+2 or x += 2
x = 24
x += 2
y = 23
y = y+2
print(x)
print(y)

26
25