<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/RYAN_PYTHON_BASICS_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#"-=" : Subtraction of value. x = x - 10 or x -= 10
x = 20
x -= 10
print(x)

10

In [ ]:
#"*=" : Multiplication of the values, x = x * 10 or x *= 10
x *= 2
print(x)

20

In [ ]:
#"/=" : Division of values , x = x/2 or x /= 2
x /= 2
print(x)

10.0

In [ ]:
#"**" : Multiplies the number by given number of times.
x = 2
print(x**2)

4

In [ ]:
#"**=" : x = x ** 2 or x **= 2 
x **= 3
print(x)

8

#Comparison Operators:

In [ ]:
#"==" : Comparing two values
a = 20
b = 20 
print(a == b)

True

In [ ]:
#"!=" : not equal to operator, comparing the values
print(a != b)

True

In [ ]:
#">" or "<" : Comparing some values.
print(a > b)
print(a < b)

False
True

In [ ]:
#">=" , either value is greater or equal to.
print(a >= b)

#"<=", 
print(a <= b)

True
True

#Logical Operators

In [ ]:
#"and", If both the values are true then only it will return true.
r = 50
s = 60
print(r<s and s>50)

True

In [ ]:
#"or" , If atleast one statement is true then it will return True value.
print(r>s or s>50)

True

In [ ]:
#"not" , reverses the boolean value
print(not r>s)
print(not (r>s or s>50))

True
False

#Identity Operators

In [ ]:
#"is"
c = 10
d = 10
print(c is d)

True

In [ ]:
#"is not"
print(c is not d)

False

#Membership Operators

In [ ]:
#"in", to check if the value exists within something.
name = "SHANIYA KHAN"
print('S' in name)

True

In [ ]:
#"not in"
print('z' not in name)

True