<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Ryan_Python_Basics_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tuple**
Tuple is similar to list but it's syntax is different and some of it's features are different.

*   Tuple cannot be changed ( add items to a tuple).
*   Tuple's elements cannot be deleted.
*   All the elements of tuple are deleted at once.(will make tuple empty).

**SYNTAX** : name_tuple = ("value","items",1,True, 0.2)

In [1]:
integers = (1,2,3,44,55,66,77,123)
print(integers)
print(type(integers[1]))

(1, 2, 3, 44, 55, 66, 77, 123)
<class 'int'>

In [4]:
String_tuple = ("bike","car", "train", "22", "10.32", "aeroplane")
print(String_tuple)

Mixed_tuple = ("string", 20, 20.36, False)
print(Mixed_tuple)
print(type(Mixed_tuple[2]))
print(type(Mixed_tuple[3]))

('bike', 'car', 'train', '22', '10.32', 'aeroplane')
('string', 20, 20.36, False)
<class 'float'>
<class 'bool'>

In [10]:
#tuple() : to make a tuple
Country = tuple('CANADA')
print(Country)

('C', 'A', 'N', 'A', 'D', 'A')

#ACCESSING ELEMENT IN TUPLE
~ will use index values to access the elements.

~ Positive indexing : Starts from 0 and from left-handside.

~ Negative Indexing : Starts from -1 and from Right-handside.

In [7]:
Vegetables = ("Tomato", "potato", "ladyfinger", "onion", "cauliflour", "chilli", "Cabbage", "Cucumber", "Gaurdfamily", "Pumpkin")
print(Vegetables)
print(Vegetables[4])
print(Vegetables[-6])

('Tomato', 'potato', 'ladyfinger', 'onion', 'cauliflour', 'chilli', 'Cabbage', 'Cucumber', 'Gaurdfamily', 'Pumpkin')
cauliflour
cauliflour

#Concatenation of the tuples
~ Putting two things together ( one after another )

~ tuple1 = (1,2,3,4)

~ tuple2 = (5,6,7,8)

~ print(tuple1 + tuple2)

~ Output : (1,2,3,4,5,6,7,8)

In [9]:
tuple1 = (1,2,3,4)
tuple2 = ("a", "b", "c")
print(tuple1 + tuple2)

tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'a', 'b', 'c')
(1, 2, 3, 4, 'a', 'b', 'c')

#Slicing of the Tuple

In [16]:
print(Vegetables)
print(Vegetables[2 : 7]) #Positive Indexing
print(Vegetables[-8 : -3]) #Negative Indexing
print(Vegetables[::-1]) #Reverse of the tuple
print(Vegetables[::2]) # Jumps in Slicing 
print(Vegetables[::3])

('Tomato', 'potato', 'ladyfinger', 'onion', 'cauliflour', 'chilli', 'Cabbage', 'Cucumber', 'Gaurdfamily', 'Pumpkin')
('ladyfinger', 'onion', 'cauliflour', 'chilli', 'Cabbage')
('ladyfinger', 'onion', 'cauliflour', 'chilli', 'Cabbage')
('Pumpkin', 'Gaurdfamily', 'Cucumber', 'Cabbage', 'chilli', 'cauliflour', 'onion', 'ladyfinger', 'potato', 'Tomato')
('Tomato', 'ladyfinger', 'cauliflour', 'Cabbage', 'Gaurdfamily')
('Tomato', 'onion', 'Cabbage', 'Pumpkin')

#Deleting the Tuples
del keyword

In [17]:
print(tuple1)

(1, 2, 3, 4)

In [18]:
del tuple1

#Built-in Functions
1. index() : used to find out index value of an element
2. count() : used to find out the occurence of a particular element

In [21]:
print(Vegetables)
print(Vegetables.index("ladyfinger"))

('Tomato', 'potato', 'ladyfinger', 'onion', 'cauliflour', 'chilli', 'Cabbage', 'Cucumber', 'Gaurdfamily', 'Pumpkin')
2

In [25]:
Tuple01 = (11, 1, 1, 2, 6, 7 ,8 ,9, 0, 2,2, 3, 4, 6 ,7)
print(Tuple01.count(2))
print(Tuple01.index(1, 2, 5))
print(Tuple01.index(2, 4, 10))

3
2
9

**Conclusion** :
Tuples cannot be appended , changed and we cannot remove some particular elements from the tuple. 

We can delete whole tuple at once.