<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Ryan_PYTHON_BASICS_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Comments in Python

In [3]:
#it's my first class.
'''it's my first class. it's my first class.it's my first class.it's my first class.it's my first class.
it's my first class.it's my first class.it's my first class.
it's my first class. it's my first class. it's my first class.
it's my first class.'''

"it's my first class. it's my first class.it's my first class.it's my first class.it's my first class.\nit's my first class.it's my first class.it's my first class.\nit's my first class. it's my first class. it's my first class.\nit's my first class."

Print function

In [7]:
print("Hello Ryan") #Everthing between the " " is called as String.
print(100)

Hello Ryan
100

In [10]:
#type() 
print(type(100))
print(type("Hello Ryan"))
print(type("100")) #str : String and int : Integer

<class 'int'>
<class 'str'>
<class 'str'>

#DATATYPES:
1. String
2. Numbers (integers, float)
3. List
4. Tuple
5. Dictionary
6. Boolean (True or False)

In [13]:
print(1+1)
print("1"+"2") # + will concatenate two strings: means it will put one string after another.
print("Hello"+" How are you ?")

2
12
Hello How are you ?

In [17]:
print(5.678)
print(type(5.678))
print(type(5.0000000))

5.678
<class 'float'>
<class 'float'>

#Variables

In [22]:
#variables are used to store some values in python.
name = "Shaniya"
print(name)
age = 1
print(age)

Shaniya
1