<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Ryan_Python_basics_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
List is a datatype in python which contains more than one values.
Syntax : name_of_list = ["strings",1,2.04, True]

In [4]:
#empty list
its_a_list = []
print(its_a_list)

#List containing integer values
int_list = [55,4,895,5,9,8]
print(int_list)

#List containing Strings values
String_list = ["apple", "mango", "banana", "pineapple", "grapes"]
print(String_list)

#mixed list: containing all the datatypes like, integer, string, float, boolean
mixed_list = [120, "one hundred twenty", 1.20, False]
print(mixed_list)

[]
[55, 4, 895, 5, 9, 8]
['apple', 'mango', 'banana', 'pineapple', 'grapes']
[120, 'one hundred twenty', 1.2, False]

***Nested List***: means list inside a list

In [5]:
nested_list = [15,"fifteen",[1,2,3,4,"apple",5.25],56,"fifty six",True]
print(nested_list)

[15, 'fifteen', [1, 2, 3, 4, 'apple', 5.25], 56, 'fifty six', True]

#**Accessing Items from a list**
*   By using index values
*   list index values starts from 0 : Positive indexing
#Positive indexing

In [12]:
print(mixed_list[1])

Vegetables = ["carrot","brinjal","onion","garlic","ginger","potato","tomato"]
print(Vegetables)
print(Vegetables[2])
print(Vegetables[6])

nested_list = [15,"fifteen",[1,2,3,4,"apple",5.25],56,"fifty six",True]
print(nested_list)
print(nested_list[2])
print(nested_list[2][4])

one hundred twenty
['carrot', 'brinjal', 'onion', 'garlic', 'ginger', 'potato', 'tomato']
onion
tomato
[15, 'fifteen', [1, 2, 3, 4, 'apple', 5.25], 56, 'fifty six', True]
[1, 2, 3, 4, 'apple', 5.25]
apple

**Negative Indexing**
It starts from right side and number is -1

In [14]:
cars = ["BMW", "Audi", "Porshe", "Nano", "Figo"]
print(cars[-3])
print(cars[2])

Porshe
Porshe