<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON PROGRAMMING

In [1]:
#import turtle
'''this is  the first 
python'''

VARIABLES

In [6]:
name = "SHANIYA"
age = "25"
_country = "INDIA"
city_01 = "LUDHIANA"
print(name, age, _country, city_01)

SHANIYA 25 INDIA LUDHIANA

STRINGS

In [7]:
print(type(age))

<class 'str'>

In [9]:
print(age,+25)

25 25

In [11]:
print(name+" "+_country)

SHANIYA INDIA

In [13]:
print(False)

False

In [14]:
print(1.00002)

1.00002

In [16]:
fl = 1.00002
print(type(fl))

<class 'float'>

AIRTHMETIC OPERATIONS

In [ ]:
#ADDITION

In [17]:
x = 2500
y = 870
print(x+y)

3370

In [ ]:
#CONCATINATION

In [18]:
x = "2500"
y = "870"
print(x+y)

2500870

SUBTRACTION

In [20]:
p = 95000
q = 8000
print(p-q)

87000

MULTIPLICATION

In [21]:
print(p*q)

760000000

DIVIDE

In [23]:
print(p/q)
print(p//q) #will give the value of the quotient.

11.875
11

Modulus

In [30]:
print(p%q)
a = 5
b = 2
print(a%b) #It will return the value of remainder.

7000
1

ASSIGNMENT OPERATORS

In [26]:
#"=" is operator to assign some value.

In [31]:
#"==" is operator for comparing two values.
print(a==b)

False

In [32]:
#"!=" is "not equal to" operator , for comparing the two values
print(a!=b)

True

In [35]:
#"+=" is operator for adding some values, x=x+4 or x+=4
d = 2
d += 4 # d = d+4 
print(d)

6

In [36]:
#"-=" is operator for subtracting the values, x = x-2 or x-=2
j = 10
j -= 2
print(j)

8

In [40]:
#"*=" is operator for multiplication, x = x*2 or x*=2
#"%=" is operator for modulus, x = x%2 or x%=2
#"/=" is operator for division, x = x/2 or x/=2
#"//=" is operator for finding quotient, x = x//2 or x//=2
g = 4
g *=4
print(g)
g/=2
print(g)
g//=2
print(g)
g%=2
print(g)

16
8.0
4.0
0.0

In [42]:
#"**" is syntax for finding the square
t = 3
print(t**2)

9

In [43]:
#"**=" is operator for squaring a number, t = t ** 2 or t **=2
t = 4
t **= 2
print(t)

16