<a href="https://colab.research.google.com/github/shaniaakhan21/GresRecSys/blob/main/Youssef_Python_basic_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSIGNMENT OPERATORS

In [ ]:
#"=" is operator to assign some values
a = 10
print(a)

10

In [ ]:
#"==" is used for comparing two values
b = 20 
print(a == b)

False

In [ ]:
#"!=" is used for comparing two values
print(a != b)

True

In [ ]:
#"+=" is used for adding some values, x = x+2 or x += 2
b = 20 
b += 2
print(b)

22

In [ ]:
#"-=" is used of subtracting the values, x = x - 2 or x -= 2 
b -= 2
print(b)

20

In [ ]:
#"*=" is used for multiplication , x = x * 2 or x *= 2
b *= 2
print(b)

40

In [ ]:
#"/=" is used for division, x = x/2 or x /= 2
b /= 2
print(b)

20.0

In [ ]:
#"%=" is used to get the remainder, x = x % 2 or x %= 2
b = 20
b %= 2
print(b)

0

In [ ]:
#"//=" is used to get the quotient value.
b = 20
b //= 3
print(b)

6

In [ ]:
#"**" 
t = 3
print(t**3)
print(t)

27
3

In [ ]:
#"**=" , x = x ** 2 or x **= 2
t **= 3
print(t)

27

#COMPARISON OPERATORS

In [ ]:
#"=="
#"!="

In [ ]:
#"<" or ">"
x = 10
y = 20
print(x>y)
print(x<y)

False
True

In [ ]:
#">=" if a is greater or equal to b
a = 20
b = 10
print(a>=b)

True

In [ ]:
#"<=" if a is smaller than or equal to b
print(a<=b)

False

#LOGICAL OPERATORS

In [ ]:
#"and" , if both the values are True then it will return True value
a = 10
b = 20
print(a>b and b>10)

False

In [ ]:
#"or" , if one of the values is True then it will return True value
print(a>b or b>10)

True

In [ ]:
#"not", reverses the values
print(not a>b )
print(not (a>b or b>10))

True
False

#Identity Operators

In [ ]:
#"is"
c = 15
d = 20 
print(c is d)

False

In [ ]:
print(c is not d)

True

#Membership Operators

In [ ]:
#"in" , to check value exists within something(like string) or not
name = "Shaniya Khan"
print('z' in name)

False

In [ ]:
#"not in"
print('z' not in name)

True